td a, .nearby a, .ad-list a, .list-item-title { color: #000; text-decoration: none;}
a { color: steelblue; text-decoration: none;}

.clickable { cursor: pointer; }
.title-button { margin-left: 4px; }

.tiptap-content > img { max-width: calc(min(500px, 100%));}
.tiptap-content a { color: steelblue; }

.list-item-title svg { margin-left: 4px; }

.leaflet-container a {  color: #000; }

.main-map {
  height: calc(95vh - 80px);
}

.map-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 400;
  width: 36px;
  height: 36px;
}

.activity-card:hover {
  -webkit-transform: scale(1.025,1.025);
  -webkit-transition: all 0.2s ease-in-out;
  transform: scale(1.025,1.025);
  transition: all 0.2s ease-in-out;
}

main { background-color: #faf8f8;}


th .aligner {
  display: flex;
  align-items: center;
}

.aligner .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}