td a, .nearby a { color: #000; text-decoration: none;}
a { color: steelblue; text-decoration: none;}

.clickable { cursor: pointer; }

.tiptap-content > img { max-width: 50vw;}
.tiptap-content { text-align: center;}
.tiptap-content a { color: steelblue; }

.list-item-title svg { margin-left: 4px; }

.leaflet-container a {  color: #000; }

.map-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 400;
  width: 36px;
  height: 36px;
}